<box frame span align-stretch noimportant>
  <text span>TrollCall.xyz (rev. 2 upd. MARCH-3.1)</text>
  <text span>© 2023 MeowcaTheoRange. Some characters may not be owned by me.</text>
  <spacer noshow></spacer>
  <text span>This website uses character species and designs from the property Homestuck.</text>
  <text span>© Homestuck and VIZ Media</text>
  <spacer noshow></spacer>
  <text span>Name is from HIVESWAP's <a href="https://hs.trollcall.xyz/">TrollCall</a> page.</text>
  <text span>Homestuck and HIVESWAP © Homestuck Inc.</text>
</box>