<box class="clipparent" frame horizontal justify-between noimportant code align-center>
  <a href="/">&lt;== Back</a>
  <% if (locals.link) { %> 
  <a href="https://trollcall.xyz/<%- link %>" onclick="linkClick(event)"><text big class="FORCEUNDERLINE"><%- locals.name.replace(/_/gm, " ").toAllUpperCase() %></text></a>
  <% } else { %> 
    <text big><%- locals.name.replace(/_/gm, " ").toAllUpperCase() %></text>
  <% } %>
  <text><%- type %></text>
  <box frame id="ClipPrompt"></box>
</box>
<style>
  .clipparent {
    position: relative;
    overflow: visible;
  }
  #ClipPrompt {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: calc(100% + 4px);
    left: 50%; 
    transform: translateX(-50%);
    transition: opacity 2s;
  }
  .ClipVisible {
    opacity: 1 !important;
    transition: opacity 0.25s !important;
  }
</style>
<script>
  function linkClick(e) {
    console.log(e.target.parentElement);
    e.preventDefault();
    navigator.clipboard.writeText(e.target.parentElement.getAttribute('href'));
    document.getElementById("ClipPrompt").innerHTML = `<text normal>Copied <i>${e.target.parentElement.getAttribute('href')}</i> to clipboard</text>`;
    document.getElementById("ClipPrompt").classList.add("ClipVisible");
    setTimeout(() => {
      document.getElementById("ClipPrompt").classList.remove("ClipVisible");
    }, 1500);
  }
</script>