<box frame horizontal justify-between noimportant code align-center>
  <a href="/">&lt;== Back</a>
  <text big><%- locals.name.replace(/_/gm, " ").toAllUpperCase() %></text>
  <text><%- type %></text>
</box>