<box frame horizontal justify-between noimportant code align-center>
  <a href="/TrollCall/">&lt;== Back</a>
  <text><%- locals.name.replace(/_/gm, " ").toAllUpperCase() %></text>
  <text><%- type %></text>
</box>