<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/TrollCall/assets/styles/main.css" />
    <link rel="stylesheet" type="text/css" href="/TrollCall/assets/styles/style.css" />
    <link rel="stylesheet" type="text/css" href="/TrollCall/assets/styles/mspa.css" />
    <link rel="icon" type="image/x-icon" href="/TrollCall/assets/images/favicon.ico" />
    <meta property="og:type" content="website">
    <meta property="og:title" content="TrollCall -- Submit">
    <meta property="og:url" content="/TrollCall/submit/">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL@20,700,1" rel="stylesheet" />
  </head>
  <body>
    <%- include('./nav.ejs', {name:"Submissions", type:"Meta"}) %>
    <box outline align-start noimportant>
      <input type="text" titleBox bg />
      <text>(pronounced like <input type="text" bg />)</text>
      <text>Also known as <text frame code><input type="text" name="user" id="username" /> <input type="text" readonly id="username2" /></text> online.</text>
      <textarea bg></textarea>
      <text>Age: <input type="number" name="years" id="years" bg /> years (<input type="number" name="sweeps" id="sweeps" bg /> sweeps)</text>
      <text>Sign: <input type="text" name="extended" bg /> (<select bg name="zodiac" id="zod"></select> caste)</text>
      <text>Species: <text code frame>Troll<input type="text" name="species" value="-" /></text></text>
      <text>Gender: <input type="text" name="gender" bg value="" /></text>
      <text>Pronouns: <input type="text" bg name="pronouns" /></text>
    </box>
    <box outline align-start noimportant>
      <box frame code span>
        <text><select name="artare" id="zod">
          <option value="yes">Yes</option>
          <option value="ask">Ask</option>
          <option selected value="no">No</option>
        </select> Making art of this character.</text>
        <text><select name="artothers" id="zod">
          <option value="yes">Yes</option>
          <option value="ask">Ask</option>
          <option selected value="no">No</option>
        </select> Making art of this character with other characters.</text>
        <text><select name="artkin" id="zod">
          <option value="yes">Yes</option>
          <option value="ask">Ask</option>
          <option selected value="no">No</option>
        </select> Kinning this character.</text>
        <text><select name="artship" id="zod">
          <option value="yes">Yes</option>
          <option value="ask">Ask</option>
          <option selected value="no">No</option>
        </select> Shipping this character with others.</text>
        <text><select name="artfan" id="zod">
          <option value="yes">Yes</option>
          <option value="ask">Ask</option>
          <option selected value="no">No</option>
        </select> Creating fanfiction of this character.</text>
      </box>
    </box>
    <script type="module">
      import * as color from "/TrollCall/assets/scripts/color.js";
      color.themeColor("#ffffff", "pri");
      color.themeColor("#404040", "sec");
      var zodiac = <%- zodiac %>;
      var select = document.querySelector("#zod");
      Object.keys(zodiac).forEach(z => select.innerHTML += `<option value="${z}">${z}</option>`);
      select.onchange = () => {
        color.themeColor(zodiac[select.value].main, "pri");
        color.themeColor(color.negate(zodiac[select.value].main), "sec");
      }; select.onchange();
    </script>
    <script type="module" src="/TrollCall/assets/scripts/submit.js"></script>
  </body>
</html>